@font-face {
    font-family: "Graphik";
    src: url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikRegular.eot");
    src:
        url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikRegular.woff") format("woff"),
        url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikRegular.otf") format("opentype"),
        url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikRegular.svg") format("svg");
    font-weight: 400;
}

/* Graphik Semi-Bold 600 font weight */
@font-face {
    font-family: "Graphik";
    src: url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikSemibold.eot");
    src:
        url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikSemibold.woff") format("woff"),
        url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikSemibold.otf") format("opentype"),
        url("https://f.hubspotusercontent40.net/hubfs/5066246/2021%20Website/Fonts/GraphikSemibold.svg") format("svg");
    font-weight: 600;
}

form#join-form {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
}

.lead {
    font-weight: 600;
}

.btn {
    background: #0429E1;
    border-radius: 35px;
    border: none;
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    justify-content: center;
    padding: 10px 34px;
    font-weight: 600;
    font-size: 12px;
}

.btn-white {
    background: #D9E8EF;
    color: #0429E1;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
    background: #4060FF;
}

.btn-white {
    background: #D9E8EF;
    color: #0429E1;
}

.btn-white.disabled,
.btn-white:disabled {
    background: #fff;
    color: #0429E1;
    opacity: 1;
}

.rooms-btns {
    display: flex;
    gap: 15px;
}

.rooms-button {
    background: none !important;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 9px;
    color: #fff;
    text-align: center;
    flex: 1;
    padding: 0;
}

.rooms-button circle {
    transition: all .15s ease-in-out;
    fill: #fff;
}

.rooms-button svg {
    margin-bottom: 10px;
}

input#username {
    min-height: 28px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 100%;
}


.controls-and-rooms {
    background: #000;
    background-image: url(/assets/controls-bg-m.jpg);
    background-position: center right;
    background-size: cover;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    padding: 2rem 0;
}

.controls-and-rooms>div {
    flex: 1;
    min-width: 400px;
    padding: 0 2rem;
    scroll-snap-align: center;

}

.controls-and-rooms>div:not(:last-child) {
    border-right: 2px solid rgba(217, 217, 217, 0.5);
}

.user-name-and-label {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
}

[type=button]:not(:disabled):hover circle,
button:not(:disabled):hover circle {
    fill: #f1a9d7;
}

.entry-label {
    display: flex;
    font-size: 65%;
    align-self: flex-end;
    margin: 0;
    border: 0;
}

.join-leave-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.rooms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.canvas-group {
    height: min-content;
    background: #DAD9D9;
    border-width: 2px 2px 2px 0px;
    min-height: 500px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 10px;
    margin-bottom: 0;
}

.controls {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.controls>.d-flex {
    gap: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 0.5px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #FF55BA;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 2.29006px 2.29006px 5.72514px rgba(0, 0, 0, 0.14), -2.29006px -1.14503px 4.58011px rgba(0, 0, 0, 0.09);
}

input:checked+.slider {
    background-color: #FFA4DA;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FFA4DA;
}

input:checked+.slider:before {
    transform: translateX(11px) translateY(50%);
}

.slider.round {
    border-radius: 34px;
    box-shadow: inset 0px 1.14503px 2.29006px rgba(0, 0, 0, 0.34);
}

.slider.round:before {
    border-radius: 50%;
}


.player-list {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

.player-wrapper {
    display: inline-block;
    width: 330px;
    margin: 0px;
    border: 0px;
}

.player {
    width: 320px;
    height: 240px;
    margin: 4px;
    border: 1px solid gray;
}

.player-name {
    width: 320px;
}

.continue-dialog {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

input[type=range] {
    outline: 0;
    border: 0;
    border-radius: 100px;
    width: 100%;
    max-width: 100%;
    transition: box-shadow 0.2s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=range] {
        overflow: hidden;
        height: 10px;
        -webkit-appearance: none;
        background-color: #ddd;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #444;
        -webkit-transition: box-shadow 0.2s ease-in-out;
        transition: box-shadow 0.2s ease-in-out;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #FF55BA;
        box-shadow: -340px 0 0 335px #FFA4DA, inset 0 0 0 5px #ea65b6;
        border-radius: 50%;
        -webkit-transition: box-shadow 0.2s ease-in-out;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
    }
}

input[type=range]::-moz-range-progress {
    background-color: #FFA4DA;
}

input[type=range]::-moz-range-track {
    background-color: #FF55BA;
}

input[type=range]::-ms-fill-lower {
    background-color: #FFA4DA;
}

input[type=range]::-ms-fill-upper {
    background-color: #FF55BA;
}

@media (min-width: 993px) {
    .controls {
        gap: 25px;
    }

    .controls-and-rooms {
        background: #000;
        background-image: url(/assets/controls-bg-m.jpg);
        background-position: center right;
        background-size: cover;
        display: flex;
        scroll-snap-type: none;
        overflow-x: visible;
    }

    .controls-and-rooms>div {
        min-width: 0;
    }
}