# put this in /lib/systemd/system
# journalctl -e -f -u bot-controller &
# systemctl start bot-controller

[Unit]
Description=Agora bot-controller
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/speakeasy/bot-controller
Environment="PATH=/usr/bin"
ExecStart=/home/ubuntu/speakeasy/bot-controller/bot-controller

[Install]
WantedBy=multi-user.target
